// scss-lint:disable all
@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?kdctbk');
  src: url('./assets/fonts/tomorrow.eot?kdctbk#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?kdctbk') format('truetype'),
    url('./assets/fonts/tomorrow.woff?kdctbk') format('woff'),
    url('./assets/fonts/tomorrow.svg?kdctbk#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
